<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190561828452-9n4gkp691n4hlhhhdcakhiuk2temle7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190561828452-9n4gkp691n4hlhhhdcakhiuk2temle7b</string>
	<key>API_KEY</key>
	<string>AIzaSyCVBrzmv2621SmRxl0MH_Xj6lcxD5nFqJw</string>
	<key>GCM_SENDER_ID</key>
	<string>190561828452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demofirebase</string>
	<key>PROJECT_ID</key>
	<string>hiflutter-d7d7c</string>
	<key>STORAGE_BUCKET</key>
	<string>hiflutter-d7d7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190561828452:ios:9ea1ebd14bc3f9c7c4a971</string>
	<key>DATABASE_URL</key>
	<string>https://hiflutter-d7d7c-default-rtdb.firebaseio.com</string>
</dict>
</plist>